.main {
  margin-left: 100px;
}

.banner {
  margin-left: 100px;
}

.right {
  float: right;
}

.left-to-right ul li {
  display: inline;
}

.right-to-left ul li {
  display: inline;
  float: right;
}

.panel-info .panel-body {
  background-color: #f2fcff;
}

.panel-success .panel-body {
  background-color: #f6fbf6;
}

.purple {
  background-color: lavender;
}

.purple .panel .panel-heading {
  background-color: #cba8ea;
}

.line-heading {
  border-bottom: 1px solid black;
}

.sidebar {
  float: left;
  width: 200px;
  margin-left: -30px;
  position: absolute;
}

.wrapper {
  align-items: stretch;
}

#bottom {
  text-align: center;
}

#right-navigation {
  float: right;
}

@media screen and (max-width: 994px) {

  .main {
    margin-left: 200px;
  }

  .banner {
    margin-left: 200px;
  }

}

@media screen and (max-width: 484px) {

  .sidebar {
    position: relative;
  }

  .panel {
    width: 150%;
  }

  #picture-heading {
    width: 155px;
  }

}
